Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

! URxvt
! Custom
! Original theme https://github.com/nathanbuchar/atom-one-dark-terminal
URxvt.foreground:     #ABB2BF
URxvt.background:     #1E2127
URxvt.cursorColor:    #5C6370
URxvt.highlightColor: #3A3F4B

! Negro y gris
URxvt.color0:         #1E2127
URxvt.color8:         #5C6370
! Rojos
URxvt.color1:         #E06C75
URxvt.color9:         #E06C75
! Verde
URxvt.color2:         #98C379
URxvt.color10:        #98C379
! Amarillo
URxvt.color3:         #D19A66
URxvt.color11:        #D19A66
! Azul
URxvt.color4:         #61AFEF
URxvt.color12:        #61AFEF
! Magenta
URxvt.color5:         #C678DD
URxvt.color13:        #C678DD
! Cyan
URxvt.color6:         #56B6C2
URxvt.color14:        #56B6C2
! Blanco
URxvt.color7:         #ABB2BF
URxvt.color15:        #FFFFFF

! URxvt.font: 9x15
URxvt.font: xft:UbuntuMono Nerd Font:pixelsize=15

URxvt.scrollBar: false

! do not scroll with output
! URxvt*scrollTtyOutput: false
! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
! URxvt*scrollWithBuffer: true
! scroll back to the bottom on keypress
! URxvt*scrollTtyKeypress: true

! Extensions
! URxvt.perl-ext-common: clipboard, default, matcher, tabbed, resize-font, url-select 
URxvt.perl-ext-common: default, matcher, tabbed, resize-font, url-select 

! Clipboard
! URxvt.clipboard.autocopy: true
! URxvt.keysym.C-M-c: perl:clipboard:copy
! URxvt.keysym.C-M-v: perl:clipboard:paste
URxvt.keysym.C-S-C: eval:selection_to_clipboard
URxvt.keysym.C-S-V: eval:paste_clipboard
URxvt.keysym.C-M-c: builtin-string:
URxvt.keysym.C-M-v: builtin-string:
URxvt.iso14755: false

! Clickable URLs
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

! Yankable URLs (no mouse)
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true
